# Configuration file

client {
    # Should the exp bar be hidden?
    B:hideBar=true

    # Blocks that when hovered over show the xp bar, if hideBar is true
    S:showBarBlocks <
        minecraft:enchanting_table
        minecraft:anvil
		bibliocraft:typsettingtable
     >

    # Items that when held show the xp bar, if hideBar is true
    S:showBarItems <
        minecraft:experience_bottle
		ldoh:experience_bucket
     >
}


general {
    # How many experience points to Bottles of Enchanting give if drunk?
    I:bottleExperience=7

    # Should mob xp drops be given directly to the player?
    B:directXP=false

    # Should xp drops be disabled.
    B:disableXP=true

    # Can Bottles of enchanting be drunk to gain experience?
    B:drinkBottles=true
}


